extends common/layout 

block layout-content 
  h1 Add new link 
  form(method="post", action="/admin/menu/add/submit")
    div 
      label(for="wgt") Weight: 
      input(type="number", id="wgt", name="weight", placeholder="e.g. 1")
    div 
      label(for="href") URI: 
      input(type="text", id="href", name="path", placeholder="e.g. /about")
    div 
      label(for="link-name") Link text: 
      input(type="text", id="link-name", name="name", placeholder="e.g. About")
    button(type="submit") Add link