extends layout 

mixin box-wrap(price)
    .box-wrap
        .heading    
            span #{price}
        .box
        .info 
            p Anime Figurine 

mixin box-wrapp(price)
    .box-wrapp
        .heading    
            span #{price}
        .box
        .info 
            p Manga Figurine 


block featured-content 
    .main-content 
        .sub-header 
            h2.title Figurines
                span 200 results
        .box-wrapper
            +box-wrap('$120')
            +box-wrap('$120')
            +box-wrapp('$320')
            +box-wrap('$120')
            +box-wrap('$520')
            +box-wrapp('$200')
            +box-wrapp('$220')
            