* {
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
}

body {
    /* color: #fff;
    background-color: #222;
    margin: 0;  */
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    
}

header {

    font-family: 'Alegreya Sans Black', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
}

.logo {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    font-size: 60px;
    margin-left: 25px;
}

span {
    font-weight: 800;
}

.subtitle {
    font-size: 20px;
    letter-spacing: 4px;
}

.navigation {
    a {
        color: black;
        text-transform: uppercase;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 40px;
        font-weight: 700;
        &.active {
            color: red;
        }
    }
}

.page-title {
    font-family: 'Alegreya Sans ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 55px;
}

.main-content {
 /* width: 80%;
    margin: 80px auto 0 auto; */
    /* background-color: rgb(255, 255, 74); */
    height: 100vh;
    /* background-color: rgb(74, 255, 171); */
}

.title-content {
   
    display: flex;
    height: 72vh;
    flex-direction: row;
    background-color: rgb(255, 255, 130);

}
.title-message {
    width: 37%;
    text-align: right;
    margin-top: 90px;
    margin-right: 25px;
}

.title-image {
    height: 100vh;
    width: 63%;
    /* background-color: black; */
}
.main-contact-content {
    text-align: center;
    height: 20vh;
    margin-top: 30px;;
}
button {
    background-color: red;
    height: 60px;
    width: 150px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.sub-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 30px;
    width: 80px;
    /* background-color: blue; */

    .title {
        line-height: 1;
        font-size: 24px;
        text-transform: uppercase;
        margin-left: 20px;
        
    }
    span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        text-transform: lowercase;
        color: red;
    }
}

.box-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 130);
}

.box-wrap , .box-wrapp {
    width: 24%;
    margin: 0 0.5% 20px 0.5%;
    padding: 15px 20px;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;

    .heading {
        display: flex;
        justify-content: space-between;
        span {
            font-size: 20px;
            font-weight: 700;
        }
    }
    
    .box {
        width: 10%;
        margin: 10px 0px;
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: brown;
    }
    .asset-images {
        width: 300px;
        height: 100%;
    }
    
    .info {
        display: flex;
        justify-content: space-between;
        line-height: 1.2;
        font-size: 16px;
        font-weight: 700;
    }
}



footer {
    margin-top: 40px;
    text-align: center;
}