#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  font: 600 32px 'Montserrat';
  text-transform: uppercase;
  text-align: center;
  color: #555;
}

header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
