extends layout

block layout-content
    .content
        h1 Sci-Fi Book Titles
        if books && books.length > 0
            ul
                each book in books
                    li
                        h2= book.volumeInfo.title
                        p Authors: 
                            if book.volumeInfo.authors
                                each author in book.volumeInfo.authors
                                    span= author + ' '
                            else
                                span Unknown Author
                        p= book.volumeInfo.publisher ? 'Published by: ' + book.volumeInfo.publisher : 'Publisher: N/A'
                        a(href=book.volumeInfo.infoLink) More Info
        else
            p No books found
