extends layout

block layout-content
    .content
        form(action="/byText", method="get")
            label(for="textSearch") Search Inside Books:
            input(type="text", name="textSearch", id="textSearch", placeholder="Enter text to search within books")
            
            button(type="submit") Search

        if books
            if books.length > 0
                h1 Found Books
                ul
                    each book in books
                        li
                            h2= book.volumeInfo.title
                            p= book.volumeInfo.authors ? `Authors: ${book.volumeInfo.authors.join(', ')}` : 'Author: Unknown'
                            a(href=book.volumeInfo.infoLink) More Info
            else
                p No books found
