extends layout

block layout-content
    .content 
        h1 Hello!
        p Click here to go to the astronomical events page to start your search 
        a.btn(href="/events-by-month") Events by Month
    .article-content
        h2 This web app offers a straightforward way to discover books related to astronomical events by tapping into NASA's astronomical data and Google Books' vast library. Users can search for titles that explore the cosmos, from scientific treatises to space-inspired narratives, providing a resource for anyone curious about the universe. It's a simple tool for finding literature that connects the wonders of space with the joys of reading. 