extends layout 

block featured-content 
    .main-content 
        .sub-header 
            h2.page-title Assets
                span 8 results
        .addlink 
            a(href="/assets/admin/add") + Click here to add your assets
            .addassets 
                h1.page-title Add assets 
                form(method="post", action="/assets/admin/add/submit")
                    div
                        label(for="weight") Weight: 
                        input(type="number", min="0", id="weight", name="weight")
                    div 
                        label(for="price") Price: 
                        input(type="text", min="000", max="500", id="price", name="price", placeholder="$458")
                    div   
                        label(for="imgsrc") Image Url: 
                        input(type="text", id="imgsrc", name="imgsrc", placeholder="/assets")
                    div 
                        label(for="name") Asset name: 
                        input(type="text", id="name", name="name", placeholder="Fantasy")
                    button(type="submit") Add asset 
        .box-wrapper
            each asset in list
                .box-wrap
                    .heading    
                        span #{asset.price}
                    .box
                        img.asset-images(src=asset.imgsrc, alt='game assets')
                    .info 
                        p #{asset.name}

        p All the images listed here is the property of 
            a(href="https://assetstore.unity.com/publishers/5217") SYNTY STUDIOS.
 

