extends layout 

block featured-content 
    .main-content 
        .sub-header 
            h2.page-title Assets
                span 8 results
        .addlink 
            a(href="/assets/admin/add") + Click here to add your assets
        
        .box-wrapper
            each asset in list
                .box-wrap
                    .heading    
                        span #{asset.price}
                    .box
                        img.asset-images(src=asset.imgsrc, alt='game assets')
                    .info 
                        p #{asset.name}

        p All the images listed here is the property of 
            a(href="https://assetstore.unity.com/publishers/5217") SYNTY STUDIOS.