.alegreya-sans-thin {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .alegreya-sans-light {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .alegreya-sans-regular {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alegreya-sans-medium {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .alegreya-sans-bold {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .alegreya-sans-extrabold {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .alegreya-sans-black {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .alegreya-sans-thin-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .alegreya-sans-light-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .alegreya-sans-regular-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .alegreya-sans-medium-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .alegreya-sans-bold-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .alegreya-sans-extrabold-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .alegreya-sans-black-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  