doctype html 
html
	head 
		meta(charset="utf-8")
		title #{title} | Home 

		-// static file folders are treated like a root folder
		link(rel="stylesheet", href="/css/styles.css")
	body
		-// include header.pug
		header#header 
			h1.logo
				span FUNPOP
				.subtitle Figurines 
			nav
				ul 
					each link in menu 
						li 
							a(href=link.path) #{link.name}
			.navigation 
				a(href="featured") Home 
				a(href="featured") Fandoms 
				a(href="featured") Category 
				a(href="featured").active Featured
		main#main 
			block layout-content
			block featured-content 
		footer#footer 
			div &copy; Copyright FUNPOP, 2024. 