doctype html 
html 
    head 
        meta(charset="utf-8")
        title #{title} | Home 
        link(rel="stylesheet", href="/css/")
        script(src="js/script.js")
    body 
        header 
            h1#heading ECOMMERCE WEBSITE 
        main
            p this is a paragraph
        footer
            div &copy; Copyright pranjall, 2024.