extends common/layout 

block layout-content
	.main-content 
		h1.page-title About us
		p This is something somehting about reflecting
		h2 Administer menu links
		a(href="/admin/menu/add") + Add link 
