extends common/layout 

block layout-content 
    .content 
        h1.page-title Edit menu link
        form(method="post", action="/admin/menu/edit/submit")
            input(type="hidden", name="linkId", value=editLink._id)
            div 
                label(for="wgt") Weight: 
                input(type="number", id="wgt", name="weight")
            div
                label(for="href") URI:  
                input(type="text", id="href", name="path")
            div
                label(for="text") Link text: 
                input(type="text", id="text", name="name")
            button(type="submit") Update link
