extends common/layout

block layout-content 
    .main-content
        h1.page-title Administer menu links  
        a(href="/admin/menu/add") + Add link
        table 
            thead 
                tr 
                    th Link 
                    th Operations 
            tbody 
                each link in menu 
                    tr 
                        td #{link.name} (#{link.path}) 
                        td
                            form(action="/admin/menu/delete")
                                input(type="hidden", name="linkId", value=link._id)
                                button(type="submit") Delete
                            form(action="/admin/menu/edit")
                                input(type="hidden", name="linkId", value = link._id)
                                button(type="submit") Edit