extends layout 

block layout-content
    .main-content
        .about-content 
            h1.page-title LUM Interactive was originally founded in 2023 and we have been bringing great games to market ever since. Today our operations include game development, publishing in both digital  physical formats, and retail distribution. We believe in fully supporting development teams so they have the freedom to innovate, take risks, and make great games.
        