extends layout 

block layout-content
    .main-content 
        h1.page-title CONTACT US
        form(action='/add_movie', method='POST')
        p
            | Your name: 
            input(name='title', value='', type='text')
            |          Email id: 
            input(name='year', value='', type='email')
            |          Message: 
            input(name='imdb', value='', type='paragraph')
        input(value='Submit', type='submit')