extends layout

block layout-content 
    .main-content 
        .title-content
            .title-message 
                h1.page-title We develop, publish and distribute video games.
                h3 Checkout our brand new 
                    a(href="assets")  asset store!        
            .title-image
                img(src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cfc157151010897.630605bae2329.gif", alt="video-games-gif")
        .main-contact-content  
            h2 Working on something cool?
            button(type="submit", value="contact-us", onclick="log()") Contact Us
        