block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    title #{title} | Test XML
  body
    header#header
      div.header-content
        h2#site-name
          a(href="/") Test XML and JSON
    main#main
      block main-content
    footer#footer
      div &copy; Copyright HTTP5222, 2024.